button {
    margin: 80px 0 25px 0;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: orange;
    cursor: pointer;

    &:hover {
        background-color: chocolate;
        color: white;
    }
}